.whereTo_container {
  /* border: 1px solid red; */
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whereTo_container > h1 {
  margin-bottom: 1rem;
}

.whereTo_container > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  height: 20rem;
  width: 20rem;
}
.whereTo_container > div > button {
  /* height: 5rem; */
  /* width: 10rem; */
  /* border-radius: 10px; */
  /* border-style: none; */
  font-size: 18px;
}


.whereTo_container > div > button:hover {
  cursor: pointer;
  background-color: aqua;
}