.whereTo_container {
  /* height: calc(100vh); */
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whereTo_container > h1 {
  margin-bottom: 1rem;
}

.whereTo_container > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  width: 30rem;
}

.whereTo_container > div > button {
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  /* border-style: none; */
  /* font-size: 18px; */
}

.whereTo_container > div > button:hover {
  cursor: pointer;
  background-color: aqua;
}