.introScreen_container {
  /* border: 1px solid red; */
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introScreen_container > h1 {
  margin-bottom: 1rem;
}

.introScreen_container > button {
  height: 5rem;
  width: 10rem;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
}


.introScreen_container > button:hover {
  cursor: pointer;
  background-color: aqua;
}